div.header {
	width: 100%;
	display: flex;
	align-items: center;
	padding: $padding;
	box-sizing: border-box;
	img {
		height: $header-img-height;
		vertical-align: middle;
	}
	span {
		flex-grow: 1;
		text-align: center;
	}
}
nav {
	width: 100%;
	padding: $padding;
	text-align: center;
	border-bottom: 1px solid black;
	box-sizing: border-box;
	a, span {
		padding-left: $padding;
		padding-right: $padding;
	}
}
