@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
body, html {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
a {
	text-decoration: none;
}
.header .header-right {
	font-size: 32px;
	font-weight: 300;
	color: white;
}

.medtext {
	font-size: 32px;
}

.bigtext {
	font-size: 45px;
	font-weight: 300;
	text-decoration: underline #007aff 2px;
}

.center {
	text-align: center;
}

.bspan {
	font-weight: bold
}

.links a {
	color: #555e6a;
	font-weight: bold;
}

.principle {
	font-weight: bold;
	font-size: 20px;
}

.project h2 {
	font-size: 28px;
	font-weight: bold;
}

.project p {
	font-size: 18px;
}

.principleheader {
	font-weight: bold;
	font-size: 13px;
	color: #8f99a6;
}
